# Dependency directories
**/node_modules/
**/target/
**/dist/
**/.angular/

# IDE and Editor files
**/.idea/
**/.vscode/
**/.settings/
**/.classpath
**/.project
**/.factorypath
**/*.log

# OS files
.DS_Store
Thumbs.db
